.input-container {
    width: 700px;
    height: 250px;
    border-radius: 50px;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 35%;
}

.input {
    
    height: 40px;
    width: 500px;
    background-color: transparent;
    border-style: none;
    margin: 0 auto;
    
}